<div class="container">
    <!-- row -->
    <div class="row">
      <div class='col-sm-6'>
        <form role="form">
          <div class="form-group">
            <label for="name">name:</label>
            <input type="text" class="form-control" id="name" ng-model="book.name">
          </div>
          <div class="form-group">
            <label for="author">author:</label>
            <input type="text" class="form-control" id="author" ng-model="book.author">
          </div>
          <br>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">category:
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-model="book.category" ng-value="name">name</a></li>
                <li><a href="#" ng-model="book.category" ng-value="description">description</a></li>
                <li><a href="#" ng-model="book.category" ng-value="many">many books</a></li>
              </ul>
         </div>
         <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" value="published" ng-model="book.date"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
         </div>
         <div class="form-group">
          <label for="user">user:</label>
          <input type="text" class="form-control" id="user" ng-model="user.name">
        </div>
        <button type="submit" class="btn btn-default" ng-click="listOfBooks()">Show all the books</button>
        <br><br><button type="submit" class="btn btn-default"  ng-click="listFilters(book.name, book.author, book.category)">Filter by mentioned above</button>
        <br><br><button type="submit" class="btn btn-default"  ng-click="createBook(book.name, book.author, book.category, book.date)">Create a book</button>
        <br><br><button type="submit" class="btn btn-default" ng-click="selectBook(book.name)">Edit a book</button>
        <br><br><button type="submit" class="btn btn-default" ng-click="deletBook(book.name)">Delete a book</button>
      </form>
    </div>


    </div> <!-- end row -->
</div>
